* {
margin: 0%;
padding: 0%;
}
.registration-container {
    position: absolute;
    width: 100vw;
    height: fit-content;
    text-align: center;
    padding: 150px 20px;
    line-height: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0.2, 0.6)), url(image\ 2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0%;

  }

  form a {
    font-weight: lighter;
    color: white;
    margin-left: 0px;
  }

.registration {
    color: white;
    font-size: 30px;
    font-weight: bolder;


}
div span {
    font-family: Arial, Helvetica, sans-serif;
}
div input {
    color: #9affbd ;
    border-color: white;
    font-weight: bolder;
    background-color: transparent;
    text-align: center;
    border-radius: 50px;
}
div input:active {
    box-shadow: black;

}
div select {
    color: #9affbd ;
    border-color: white;
    font-weight: bolder;
    background-color: transparent;
    text-align: center;
    border-radius: 50px;
    size: 20px;
}
div select option {
    color: #9affbd ;
    border-color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: transparent;
    text-align: center;
    border-radius: 50px;
}
button{
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 50px;
    margin-top: 30px;
}

button:hover {
    background-color: green;
    box-shadow: white;
    transition: 80ms ease-in-out;
}
form {
    font-size: large;
}
body{
    overflow: hidden;
}
a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:hover{
    color: green;
}

form div span {
    font-size:small;
    font-weight: bold;
}